li.category_card_li {
  list-style-type: none;
  width: 100%;
}

li .category_card {
  padding: 1rem;
  margin: 0.5rem 0rem;
}

li .category_card_selected {
  padding: 1rem;
  margin: 0.5rem 0rem;
  background-color: rgb(182, 251, 253);
}

li .category_card:hover {
  background-color: rgb(221, 254, 255);
  cursor: pointer;
}

li .category_card_selected:hover {
  background-color: rgb(221, 254, 255);
  cursor: pointer;
}

li .category_card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category_label_strong {
  font-weight: bold;
}
