.button_comp {
  height: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  border: gray solid 1px;
  border-radius: 3px;
  background-color: #efefef;
}

.button_comp:hover {
  background-color: #bebebe;
  cursor: pointer;
}
