.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.modal h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
  background: rgb(245, 152, 152);
}

.modal .content {
  padding: 1rem;
  background: white;
}

.modal .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
}

.modalButton {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
}
