.modal {
  position: fixed;
  top: 30vh;
  left: 25%;
  width: 50%;
  z-index: 100;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .modal {
    left: 10%;
    width: 80%;
  }
}

.modal h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
  background: rgb(245, 152, 152);
}

.modal .content {
  padding: 1rem;
  background: white;
}

.modal .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row-reverse;
}
